#index-jumbotron {
    background: url('../img/index_jumbotron.png');
    color: #BBBBBB;
}

#active-index-jumbotron {
    background: url('../img/active_index_jumbotron.png');
    color: #BBBBBB;
}

#passive-index-jumbotron {
    background: url('../img/passive_index_jumbotron.png');
    color: #BBBBBB;
}

#tp-index-jumbotron, #coaxial-index-jumbotron, #fibre-index-jumbotron, #wire-index-jumbotron {
    background: url('../img/index_jumbotron.png');
    color: #BBBBBB;
}